@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "roboto";
}

header,
section,
footer {
    padding-inline: 10vw;
}

footer {
    text-align: center;
    padding-block: 40px;
}


/* ///// Header ///// */

.dark {
    background-color: #1f2937;
}

.header-text {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.standard-text {
    font-size: 18px;
    color: #e5e7eb;
}

header {
    display: flex;
    align-items: center;
    padding-block: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 12px;
}

nav li {
    text-align: center;
}

ul {
    display: flex;
    column-gap: 25px;
    list-style: none;
}

/* ///// Hero ///// */

#hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.sign-up {
    border: none;
    border-radius: 6px;
    padding: 6px 30px;
    color: #f9faf8;
    background-color: #3882f6;
    align-self: flex-start;
}

#hero {
    padding-block: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

#hero-text {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex-grow: 1;
    flex-basis: 45%;
}

#hero-placeholder {
    background-color: #6d747d;
    min-width: 45%;
    min-height: 250px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    /* aspect-ratio: 16 / 9; */
}


/* ///// Random Info ///// */

#info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding-block-end: 50px;
}

.cap {
    color: #818892;
    text-align: justify;
    text-align-last: center;
    padding-block-start: 8px;
}

#random-info {
    padding-block: 50px 100px;
    text-align: center;
}

#random-placeholders {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

figure {
    flex-basis: 170px;
}

.info-placeholder {
    border: 5px solid #3882f6;
    border-radius: 10px;
    min-height: 170px;
}


/* ///// Quote ///// */

#quote-block {
    background-color: #e5e7eb;
    padding-block: 100px;
}

#quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.quote {
    font-weight: bold;
    font-style: initial;
    color: #1f2937;
}


/* ///// Call to action ///// */

#action-container {
    background-color: #3882f6;
    border-radius: 10px;
    min-width: 100%;
    padding: 40px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.two {
    border: 1.8px white solid;
    align-self: initial;
}

#action-call {
    padding-block: 70px;
}